.resetpass-container{
    display: flex;
    padding: 5px 10%;
    color: #1c1c1c;
    min-height: 90vh;
    width: 100%;

}
.resetpass-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    padding: 30px;
    padding-top: 26px;
    width: 50%;
  }
  
  .reset-title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }


  .resetpass-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 430px;
  }
  
  .reset-label {
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .reset-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .recaptcha-placeholder {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .recaptcha-placeholder img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .reset-submit {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #399e09;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02);
    font-weight: 700;
  }
  
  .reset-submit:hover {
    background-color: #218838;
  }