.table-wrapper {
  overflow-x: auto;
  padding: 10px 4%;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 600px;
}

.team-table th,
.team-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}

.team-table th {
  font-weight: 600;
  color: #333;
  background: #f9f9f9;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-weight: 600;
  margin: 0;
}

.role {
  font-size: 0.85rem;
  color: gray;
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.actions {
  display: flex;
  gap: 10px;
}

.icon {
  color: #6c63ff;
  cursor: pointer;
}
.block-btn {
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
}

.block-btn.block {
  background-color: #d9363e;
  color: white;
}

.block-btn.unblock {
  background-color: #4caf50;
  color: white;
}

.block-btn:hover {
  opacity: 0.8;
}

.delete-btn {
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  background-color: #d9363e;
  color: white;
}

.delete-btn:hover {
  background-color: #d9363e;
  color: white;
}

@media (max-width: 768px) {
  .team-table {
    font-size: 0.85rem;
  }

  .name-cell {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }
}
