.linked-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  min-height: 90vh;
}


.linked-content {
  flex: 1;
  max-width: 700px;
  width: 100%;
  
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.private-label {
  color: #888;
  font-size: 0.85rem;
}

.account-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.account-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.account-name {
  font-size: 1rem;
  font-weight: 500;
}

.icon {
  font-size: 1.2rem;
}

.icon.google {
  color: #DB4437;
}

.icon.facebook {
  color: #3b5998;
}

.icon.twitter {
  color: #1da1f2;
}

.verified {
  color: green;
  font-size: 0.9rem;
}

.connect-btn,
.connected-btn {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connected-btn {
  background-color: #e6f4ea;
  color: green;
  border: 1px solid #a6d8b9;
}

.continue-button {
  margin-top: 10px;
  padding: 0.4rem 1rem;
  background-color: #1dbf73;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 100px;
}

/* Responsive */
@media (max-width: 768px) {
  .linked-container {
    flex-direction: column;
    padding: 1rem;
  }

  .linked-content {
    width: 100%;
  }

  .account-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .continue-btn {
    width: 100%;
    text-align: center;
  }
}
