.breadcrumb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf4ff;
  padding: 35px 1.5rem;
  margin: 0 4.2%;
margin-top: 100px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.breadcrumb-text h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #1c1c1c;
}

.breadcrumb-path {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  color: #7d8fb3;
  font-size: 0.9rem;
}

.breadcrumb-path .dot {
  margin: 0 0.5rem;
  font-size: 1rem;
}

.breadcrumb-container .breadcrumb-image {
  position: absolute;
bottom: -60px;
right: 70px;
}
